<h1>Estadísticas de esperanza de vida</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>País</th>
                    <th>Año</th>
                    <th>Esperanza para la mujer</th>
                    <th>Esperanza para el hombre</th>
                    <th>Esperanza media</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <input class="form-control" ng-model="searchedstat2T.from" placeholder="Desde" value="searched year from"/>
                        <input class="form-control" ng-model="searchedstat2T.to" placeholder="Hasta" value="searched year to"/>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-secondary" ng-click="searchTimeInterval()" >Buscar por intervalo temporal</button></td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" ng-model="searchedstat2.country" value="searched country"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="searchedstat2.year" value="searched year"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="searchedstat2.expectancy_woman" value="searched expectancy woman"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="searchedstat2.expectancy_man" value="searched expectancy man"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="searchedstat2.expectancy" value="searched expectancy"/>
                    </td>
                    <td><button class="btn btn-secondary" ng-click="searchstat2()" >Buscar</button></td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" ng-model="newstat2.country" value="new country"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="newstat2.year" value="new year"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="newstat2.expectancy_woman" value="new expectancy woman"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="newstat2.expectancy_man" value="new expectancy man"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="newstat2.expectancy" value="new expectancy"/>
                    </td>
                    <td><button class="btn btn-success" ng-click="addstat2()" value="add" >Añadir</button></td>
                </tr>
                <!-- <tr>
                    <td>
                        <input class="form-control" ng-model="updatestat2.country" value="update country"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="updatestat2.year" value="update year"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="updatestat2.expectancy_woman" value="update expectancy woman"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="updatestat2.expectancy_man" value="update expectancy man"/>
                    </td>
                    <td>
                        <input class="form-control" ng-model="updatestat2.expectancy" value="update expectancy"/>
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="putstat2()" >Editar</button>
                    </td>
                </tr> -->
                <tr ng-repeat="stat2 in life_expectancy_stat2s">
                    <td><a href="#!/ui/v1/life-expectancy-stat2s/edit/{{stat2.country}}/{{stat2.year}}">{{ stat2.country }}</a></td>
                    <td>{{ stat2.year }}</td>
                    <td>{{ stat2.expectancy_woman }}</td>
                    <td>{{ stat2.expectancy_man }}</td>
                    <td>{{ stat2.expectancy }}</td>
                    <td>
                        <button class="btn btn-danger" ng-click="deletestat2(stat2.country,stat2.year)" value="remove" >Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-secondary" ng-click="pagedPrevious()" >Anteriores</button>
                    </td>
                    <td>
                        <input class="form-control" ng-model="pageded.inicio" placeholder="Inicio" value="inicio"/>
                        <input class="form-control" ng-model="pageded.numero" placeholder="Elementos" value="numero"/>
                    </td>
                    <td>
                        <button class="btn btn-secondary" ng-click="pagedFollowing()" >Siguientes</button>
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-secondary" ng-click="paged()" >Paginar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <tr>
            <td align="center"><button class="btn btn-info" ng-click="restorestat2s()">Restaurar datos</button></td>
            <td align="center"><button class="btn btn-warning" ng-click="deleteAllstat2s()">Eliminar todo</button></td>
        </tr>